<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="/jquery-ui/external/jquery/jquery.js"></script>
    <script type="text/javascript" src="/jquery-ui/jquery-ui.js"></script>

    <link rel="stylesheet" type="text/css" href="/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/jquery-ui/jquery-ui.structure.css" />
    <link rel="stylesheet" type="text/css" href="/jquery-ui/jquery-ui.theme.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />

    <meta charset="utf-8">
    <title>GameSite</title>
</head>

<body>
    <div id="header" class="ui-accordion ui-widget ui-helper-reset" width="100%">
        <h3 class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">GameSite</h3>
        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
            <img src="/banner.png">
        </div>
    </div>

    <div id="content" class="ui-accordion ui-widget ui-helper-reset">
        <h3 class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">Content</h3>
        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
            {{{body}}}
        </div>
    </div>

    <div id="navigation">
        <div id="page_info" class="ui-accordion ui-widget ui-helper-reset">
            <h3 class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">About</h3>
            <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
                <a href="/AGB">ABGs</a>
                <br>
                <a href="/Impressum">Impressum</a>
                <br>
            </div>
        </div>
    </div>

    <div id="footer" class="ui-accordion ui-widget ui-helper-reset" width="100%">
        <div class="ui-accordion-content ui-helper-reset ui-widget-content sk_ui-corner-all">
            <center>
                &copy;: Sascha Kaufmann
            </center>
        </div>
    </div>
<!--
    <div id="random_content" class="ui-accordion ui-widget ui-helper-reset" width="100%">
        <div class="ui-accordion-content ui-helper-reset ui-widget-content sk_ui-corner-all">
            Soon!
        </div>
    </div>
-->
</body>

</html>
