<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/style.css" />

  <meta charset="utf-8">
  <title>GameSite</title>
</head>

<body>
  <div id="header">
    <img src="/img/text.png">
  </div>

  <div id="content">
    <center>
      <div class="hinweis">
        <strong>Hinweis: </strong> Preise koennen abweichen!<br>
        Wir bemuehen uns moeglischt schnell die neusten Daten zu bekommen, aber Computer sind auch nur Machienen.
      </div><br>
      {{{body}}}
    </center>
  </div>

  <div id="navigation" width="80%">
    <ul>
      <li><a href="/games">Games</a></li>
      <li><a href="/impressum">Impressum</a></li>
    </ul>
    <br>
  </div>

</body>

</html>
