<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/style.css" />

  <meta charset="utf-8">
  <title>GameSite</title>
</head>

<body>
  <div id="header">
    <img src="/img/banner.png">
  </div>

  <div id="content">
    {{{body}}}
  </div>

  <div id="navigation" width="80%">
    <ul>
      <li><a href="/games">Games</a></li>
      <li><a href="/impressum">Impressum</a></li>
    </ul>
    <br>
    <br>
  </div>

</body>

</html>
