<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/style.css" />

  <meta charset="utf-8">
  <title>{{page_title}} > SYTH-Games</title>

  <meta name="description" content="{{{description}}}" />
  <link rel="image_src" href="{{banner}}" />

  <script src="/lazysizes.min.js" async=""></script>
</head>

<body>
  <div id="header">
    <img src="/img/text.png">
  </div>

  <div id="navigation" width="80%">
    <ul>
      <li><a href="/news">News</a></li>
      <li><a href="/games">Games</a></li>
      <li><a href="/impressum">Impressum</a></li>
    </ul>
    <br>
  </div>

  <div id="content">
    <center>
      <div class="hinweis">
        <strong>Hinweis: </strong> Preise können abweichen!<br>
        Wir bemühen uns möglichst schnell die neusten Daten zu bekommen, aber Computer sind auch nur Maschinen.
      </div><br>
      {{{body}}}
    </center>
    <br>
    <br>
  </div>

  <div id="footer">
    <center>
      Code by: Sascha Kaufmann
    </center>
  </div>
</body>

</html>