node_modules

.env
cronjob/backup/
mydb.sqlite
gamesite/public/img/games/*.png

logs/
*.log

gamesite/public/img/background.png
gamesite/public/img/banner.png
twitter/gos*.png

*/tmp/
*/temp/
!*/.gitkeep
!tinder_automation/tmp/
!bumble_automation/tmp/

sync/
test/
test*/

*/knexfile.js
*/.env

_heroku_humble/


*/client_secret.json
*/.credentials

kik