node_modules

.env
cronjob/backup/
mydb.sqlite

logs/
*.log

*/tmp/
*/temp/
!*/.gitkeep
!tinder_automation/tmp/
!bumble_automation/tmp/

sync/
test/
test*/

*/knexfile.js
*/.env

_heroku_humble/


*/client_secret.json
*/.credentials

kik