node_modules
!*/node_modules

.env
cronjob/backup/
mydb.sqlite
gamesite/public/img/games/*.png

logs/
*.log

gamesite/public/img/background.png
gamesite/public/img/banner.png
twitter/gos*.png

*/tmp/
!*/.gitkeep

/test/client_secret.json

sync/
test/

_heroku_humble/