<?php
// Settings

$DEV_KEY="SERVER TOKEN";

$OAUTH2_CLIENT_ID = 'TOKEN';
$OAUTH2_CLIENT_SECRET = 'SECRET';

$Discord_CLIENT_ID     = 'TOKEN';
$Discord_CLIENT_SECRET = 'SECRET';

$twitch_CLIENT_ID      = 'TOKEN';
$twitch_CLIENT_SECRET  = 'SECRET';

$streamlabs_CLIENT_ID      = 'TOKEN';
$streamlabs_CLIENT_SECRET  = 'SECRET';
// Amazon
$amazon['API_KEY']="";
$amazon['API_Secret']="";

// Mysql Settings
$mysql['host'] = "127.0.0.1";
$mysql['user'] = "";
$mysql['pass'] = "";
$mysql['base'] = "";

// EMail Settings
$mail_data['host']="";
$mail_data['user']="";
$mail_data['pass']="";

// Development
$SimpleYTH_Developmentmode=false;
?>
