.corner-all {
  border: 1px solid #cccccc !important;
  border-radius: 4px !important;
}

body {
  font-size: 100%;
  padding: 0px;
  margin: 0px;
  background-color:black;
  color: white;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto;
  grid-template-areas:
    'header'
    'navigation'
    'content';
}
p { 
  margin-top: 0; 
  margin-bottom: 0; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0000CC;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 150%;
}
li a:hover {
  background-color: #1111FF;
}


#header {
  grid-area: header;
}
#content {
  grid-area: content;
}
#navigation {
  grid-area: navigation;
}
#footer {
  grid-area: footer;
}
#anzeige {
  grid-area: anzeige;
}

.game_list-container {
  display: flex;
  flex-wrap: wrap;
  /*justify-content : space-around;*/
}
a {
  text-decoration: none;
}
.game_list {
  text-decoration: none;
  color: black; 
  margin: 5px;
  width: 276px;
  max-width: 276px;
  flex: 1;
  position:relative;
  background-color: white;
}
.game_description {
  text-align: justify;
}
.price-container {
  position: relative;
}
.price {
  font-size: 120%;
  text-align: right;
  font-weight: bold;
  position:absolute;
  bottom:0;
  right:0;
}
.price .low {
  color: green;
}
.price .high {
  color: red;
  text-decoration: line-through;
}
