.corner-all {
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
}

@font-face {
  font-family: "Oxanium-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Oxanium Regular"), local("Oxanium-Regular"), url("/fonts/Oxanium-Regular.woff2") format("woff2"), /* Super Modern Browsers */ url("/fonts/Oxanium-Regular.woff") format("woff"), /* Modern Browsers */ url("/fonts/Oxanium-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}

* {
  font-family: "Oxanium-Regular";
}

body {
  font-size: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #0f0f0f;
  color: #ccc;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "navigation"
    "content"
    "footer";
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
h2 {
  margin: 0px;
  margin-bottom: 3px;
  text-decoration: underline;
}
.fett {
  font-weight: bold;
  white-space: nowrap;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
button {
  display: inline-block;
  cursor: pointer;
}

.blue_click {
  background-color: #007;
  border: 1px solid #00f;
  border-radius: 4px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  padding: 3px 30px;
  margin-bottom: 5px;
  text-transform: uppercase;
  transition: background-color 0.2s ease-out;
  background-clip: padding-box;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}
button.blue_click:hover,
a.blue_click:hover,
li a:hover {
  background-color: #ccc;
  color: #555;
}
button.blue_click:active {
  background: #e9e9e9;
  position: relative;
  top: 1px;
  text-shadow: none;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 4px;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px 4px 16px;
  text-decoration: none;
  font-size: 160%;
}

hr {
  border-color: #007;
}

#header {
  grid-area: header;
  background-image: url("/img/background.png");
  background-repeat: repeat;
  vertical-align: top;
}
#content {
  grid-area: content;
  display: flex;
  align-items: center;
  justify-content: center;
}
#navigation {
  grid-area: navigation;
}
#footer {
  grid-area: footer;
  background-color: #007;
  border: 1px solid #00f;
  border-radius: 4px;
}
#anzeige {
  grid-area: anzeige;
}

.game_list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100% !important;
}
.news_list-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100% !important;
}
.news_list-container table tr {
  display: inline-block;
}
a {
  text-decoration: none;
  color: #ccc;
}
.game_list {
  text-decoration: none;
  color: #111 !important;
  margin: 5px;
  width: 276px;
  max-width: 276px;
  flex: 1;
  position: relative;
  background-color: white;
  margin: 10px;
  box-shadow: 3px 3px 1px #333;
  display: inline-block;
  vertical-align: top;
}
a.game_link {
  color: #111 !important;
}
.news_list {
  flex: 45%;
  margin: 10px;
  position: relative;
  background-image: linear-gradient(#111, #333 80%, #111);
  box-shadow: 3px 3px 1px #333;
  text-align: left;
  min-width: 800px;
  width: 48%;
  display: inline-block;
  vertical-align: top;
}
.game_description p {
  text-align: justify;
}
.price-container {
  position: relative;
}
.price {
  font-size: 120%;
  text-align: right;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
}
.price_inline {
  font-size: 120%;
  text-align: right;
  font-weight: bold;
  float: right;
}
.price_inline .low,
.price .low {
  color: #00aa00 !important;
}
.price .high {
  color: red;
  text-decoration: line-through;
}

.hinweis {
  background-color: rgba(180, 04, 04, 0.2);
  border: 1px solid rgba(180, 04, 04, 0.5);
  border-radius: 4px;
  text-align: left;
}

a.Amazon {
  background: url("/img/service/amazon.png") no-repeat left;
  background-position: 0px 0px;
  background-size: 16px 16px;
  padding-left: 18px;
}
.Steam {
  background: url("/img/service/steam.png") no-repeat left;
  background-position: 0px 0px;
  background-size: 16px 16px;
  padding-left: 18px;
}
.Humble {
  background: url("/img/service/humble.png") no-repeat left;
  background-position: 0px 0px;
  background-size: 16px 16px;
  padding-left: 18px;
}
.Humble::after {
  content: "*";
}
.GOG {
  background: url("/img/service/gog.png") no-repeat left;
  background-position: 0px 0px;
  background-size: 16px 16px;
  padding-left: 18px;
}

.store-container .blue_click .Steam,
.store-container .blue_click .GOG,
.store-container .blue_click .Humble {
  font-size: 125%;
}


.price a {
  background: url("") !important;
}
p.created {
  text-align: right;
  font-size: 60%;
}
.game {
  padding: 0 10vw 0 10vw;
  align-items: top;
  justify-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto;
  grid-template-areas:
    "title title"
    "game_pic stores"
    "genres text"
    "merch text";
}
.title {
  grid-area: title;
}
.game_pic {
  grid-area: game_pic;
}
.game_description {
  grid-area: text;
}
.game_stores {
  grid-area: "stores";
  width: 30vw;
}
.game_merch {
  grid-area: "merch";
  visibility: hidden;
}
.game_genres {
  grid-area: "genres";
}

.display_name {
  white-space: nowrap;
}

.genre-container,
.store-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.store-container .blue_click {
  text-align: left;
}

