.content_page {
  align: center;
  vertical-align: top;
}

.content_page a{
  
}

.with_borders, .with_borders tr, .with_borders tr td {
  border-collapse: collapse;
  border: 1px solid black;
}

#rooms {
  min-width: 800px;
}
