<div class="profile-container">
  {{#each profs}}
    <div class="profile">
      <strong>{{name}}</strong><br>
      {{#each photos}}
        <img data-src="{{url}}" src="/img/no_pic.jpg" height="129" width="276" class="lazyload" />
      {{/each}}
      <br>{{bio}}<br>
    </div>
    <br>
  {{/each}}
</div>