{{data.login.user}} Hier folgt das Dashboard!
<br>
<div>
  {{i18n "New.OAuth"}}
  <center>
    <a href="/auth/youtube" class="">
      <img src="/service_icons/youtube.png" alt="youtube" width="32" height="32">
    </a>
  </center>
</div>