<h1>{{{i18n "Error"}}}!</h1>

<div class="ui-widget">
  <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
    <p>
      <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
      <strong>{{{i18n "Error.Code" data}}}:</strong> {{{i18n "Error.Text" data}}}</p>
  </div>
</div>