<!---👑 VIPs:<br><br>!--->
<div class="marquee">
  <ul class="marquee-content">
    {{#each data.data}}
      <li>
        <b class="fab">
          <span class="username">{{name}}</span>
          <span class="special">{{length_month}}</span>
          Monat(e)
        </b>
      </li>
    {{/each}}
  </ul>
</div>