<!-- :womans_hat: !-->
<style type="text/css">
  .border_box {
    width: 1920px;
    height: 1080px;
    position: relative;
    background-color: transparent;
    vertical-align: center;
  }

  #sombrero {
    text-align: center;
    animation: sombrero_frame 7.1s;
    opacity: 0;
    transform: scale3d(1, 1, 1) translate(-1200px, 200px);
  }

  #party {
    text-align: center;
    width: 1920px;
    height: 1080px;
    animation: party_frame 5s;
    opacity: 0;
  }

  @keyframes sombrero_frame {
    0% {
      opacity: 1;
      transform: scale3d(1, 1, 1) translate(1200px, 175px);
    }

    50% {
      opacity: 1;
      transform: scale3d(3, 3, 1) translate(0px, 175px);
    }

    100% {
      opacity: 1;
      transform: scale3d(1, 1, 1) translate(-1200px, 175px);
    }
  }

  @keyframes party_frame {
    0% {
      opacity: 0;
    }

    1%,
    15%,
    60% {
      opacity: 1;
      background-color: rgba(255, 0, 0, 0.30);
    }

    30%,
    75% {
      opacity: 1;
      background-color: rgba(0, 255, 0, 0.30);
    }

    45%,
    90% {
      opacity: 1;
      background-color: rgba(0, 0, 255, 0.30);
    }

    99% {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0);
    }
  }
</style>

<div class="border_box" id="screen">

</div>


<script type="text/javascript">
  $ = jQuery;

  function sombrero() {
    var div = document.getElementById("screen");
    div.innerHTML = "<div id='sombrero'><img src='/hud/sombrero.png'><br>AiAiAiAi</div>";
  }

  function party() {
    var div = document.getElementById("screen");
    div.innerHTML = "<div id='party'><img id='party_img_1' src='/hud/sombrero.png'><img id='party_img_2' src='/hud/sombrero.png'><img id='party_img_3' src='/hud/sombrero.png'></div>";
  }

  party();

  $(document).ready(function () {
    console.log(location.origin.replace(':3000', '') + ":3005");
    var socket_rpg = io(location.origin.replace(':3000', '') + ":3005");

    socket_rpg.on('connect', function () {
      socket_rpg.send("join", "{{data.user}}");

      socket_rpg.on('command', function (data) {
        console.log(data);

        // ToDo: Things!
        if (data == "sombrero") {
          sombrero();
        }

        if (data == "party") {
          party();
        }


      });

      socket_rpg.on('disconnect', function () {
        setTimeout(() => {
          location.reload();
        }, 100);
      });
    });
  });

</script>