<!-- :womans_hat: !-->
<style type="text/css">
  .border_box {
    width: 1920px;
    height: 1080px;
    position: relative;
    background-color: green;
    vertical-align: center;
  }

  #sombrero {
    text-align: center;
  }

  #sombrero {
    animation: GFX_Loop 7.1s;
    opacity: 0;
    transform: scale3d(1, 1, 1) translate(-1200px, 200px);
  }

  @keyframes GFX_Loop {
    0% {
      opacity: 1;
      transform: scale3d(1, 1, 1) translate(1200px, 175px);
    }

    50% {
      opacity: 1;
      transform: scale3d(3, 3, 1) translate(0px, 175px);
    }

    100% {
      opacity: 1;
      transform: scale3d(1, 1, 1) translate(-1200px, 175px);
    }
  }
</style>

<div class="border_box" id="screen">

</div>


<script type="text/javascript">
  $ = jQuery;

  function sombrero() {
    var div = document.getElementById("screen");
    div.innerHTML = "<div id='sombrero'><img src='/hud/sombrero.png'><br>AiAiAiAi</div>";
    setTimeout(sombrero, 7000);
  }

  sombrero();


  $(document).ready(function () {
    console.log("http://games-on-sale.de:3005");
    var socket_rpg = io("http://games-on-sale.de:3005");
    socket_rpg.on('connect', function () {
      socket_rpg.send("join", "{{data.user}}");

      socket_rpg.on('command', function (data) {
        console.log(data);
        // ToDo: Things!
      });

      socket_rpg.on('disconnect', function () {
        setTimeout(() => {
          location.reload();
        }, 100);
      });
    });
  });

</script>