<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>My Tinder</title>

  <script src="/lazysizes.min.js" async=""></script>
</head>

<body>
  <div id="content">
    {{{body}}}

  </div>
</body>

</html>